$font1:'Open Sans';
* {
  margin:0;
  padding:0;
}
h1 {
  color:blue;
}

$mobiledist:1080px;

$headerHeight:90px;

$color1:#3498db;

$color2:#2ecc71;

.header {
  display:flex;
  width:100%;
  background-color:white;
  border-bottom:1px solid rgba(0,0,0,.3);
  height:$headerHeight;
  #logo {
    width:300px;
    background-image:url('../assets/Commish-logo.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size:55%;
    height:$headerHeight;
  }
  .navigation {
    width:calc(100% - 300px);

    #navBar {
      $navHeight:50px;
      height:$navHeight;
      margin-top:$headerHeight - $navHeight;
      background-color:white;
      ul {
        display:flex;
        list-style:none;
        li {
          line-height:$navHeight;
          padding: 0 20px;
          font-family:$font1;
          a {
            text-decoration: none;
            color: rgba(0,0,0,.7);
            transition:500ms;
            &:hover {
              color:black;
              transition:500ms;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $mobiledist) {
  .header {
    display:flex;
    width:100%;
    flex-wrap:wrap;
    background-color:white;
    border-bottom:1px solid rgba(0,0,0,.3);
    height:$headerHeight;
    #logo {
      width:100%;
      background-image:url('../assets/Commish-logo.png');
      background-repeat:no-repeat;
      background-position: center;
      background-size: contain;
      height:$headerHeight;
      border:  none;
    }

    .navigation {
      opacity:0;
      transition:500;
      width:calc(100%);
      background-color:white;
      z-index:-10;
      height:100vh;
      ul {
        flex-wrap:wrap;
        li {
          width:100%;
          text-align:center;
        }
      }
    }
    .active {
      opacity:1;
      z-index:100;
      transition:500;
    }
  }
}

#firstContent {
  width:100%;
  h2 {
    text-align:center;
    font-family:$font1;
    margin:30px 0;
    color: black;
    font-size:50px;
    font-weight:500;
    text-shadow: -3px 0 $color1, 0 3px $color1, 3px 0 $color1, 0 -3px $color1;
  }
  .images {
    display:flex;
    justify-content:space-around;
    div {
      height:500px;
      width:30%;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
    }
  }
  .buttons {
    display:flex;
    max-width:90%;
    justify-content:space-around;
    margin:30px auto;
    a {
      display:block;
      height:70px;
      line-height:70px;
      width:45%;
      background-color:blue;
      text-align:center;
      color:white;
      font-family:$font1;
      text-decoration:none;
      font-size:20px;
      background-image:url('../assets/redfabric.png');
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
    }
  }
  @media screen and (max-width:800px) {
    .buttons {
      flex-wrap:wrap;
      a {
        width:95%;
        margin-bottom:15px
      }
    }
  }
}
#about {
  h3 {
    display:block;
    height:70px;
    line-height:70px;
    width:100%;
    background-color:$color1;
    text-align:center;
    color:white;
    font-family:$font1;
    text-decoration:none;
    font-size:20px;
    background-size:contain;
    background-repeat:repeat;

  }
  .content {
    display:flex;
    width:95%;
    margin:0 auto;
    max-width:55%;
    margin-top:15px;
    justify-content: space-around;
    div {
      height:300px;
      width:35%;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
    }
    p {
      width:55%;
      font-family:$font1;
      letter-spacing:1.5px;
      line-height:25px;
      font-size:17px;
    }
  }

}


footer {
  text-align:Center;
  color:black;
  font-family:$font1;
  margin: 35px 0 10px 0;
  width:100%;
  a, p {
    text-align:center;
    padding:0 20px;
    color:black;
    text-decoration:none;
    font-family:$font1;
  }
}
